"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "linter-puppet-lint":
    oldVersion: false
  editor:
    invisibles: {}
    tabType: "soft"
  linter:
    showErrorPanel: false
  "tabs-to-spaces":
    onSave: "untabify"
  latex: {}
  "exception-reporting":
    userId: "eb8f8988-893e-127a-722e-a8d902a7fc36"
