"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  "linter-puppet-lint":
    oldVersion: false
  editor:
    invisibles: {}
    tabType: "soft"
  linter: {}
  "tabs-to-spaces":
    onSave: "untabify"
